# Environment Variables
.env
.env.*
!.env.example

# Security
*.pem
*.key
secrets/

# IDE & OS
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db

# Dependencies (Node/Python/Java etc.)
node_modules/
__pycache__/
*.py[cod]
*$py.class
venv/
env/

# Java / Maven / Gradle
target/
*.class
*.jar
*.war
*.ear
.mvn/
.gradle/
build/
coverage/
*.log
